{% extends 'vidz/base.html' %}

{% block content %}
<div class="container">
 <h1>{{ vidzs.title }}</h1>
 <h4 class="text-muted">{{ vidzs.user.username }}</h4>
</div>
{% if user.id == vidzs.user.id %}
<a href="{% url 'delete_vidz' vidzs.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_vidz' vidzs.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'add_video' vidzs.id %}" class="btn btn-primary">Add video</a>
{% endif %}
      <div class="row">
         {% for video in vidzs.video_set.all %}
         <div class="col-md-4 mt-3"><div class="card mb-4 shadow-sm">
            <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body"><p class= "card-text">{{ video.title }}</p>
            {% if user.id == vidzs.user.id %}
            <a href="{% url 'delete_video' video.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
             </div>  
            </div>
         </div>
         {% endfor %}
      </div>
{% endblock %}