{%load static%}
<html>
    <head>
        <title>Job Information</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static 'css/jobs.css'%}">
    </head>
    <body>
        <div class='container'>
            <div class="jumbotron">
                <h1>Welcome to Job Mela</h1>
                <p>For Continuous job updates... be with us </p>
                <a class="btn btn-primary btn-lg" href="/hyd" role="button">Jobs In Hyderabad</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/blr" role="button">Jobs In Banglore</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/chennai" role="button">Jobs In Chennai</a>&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="btn btn-primary btn-lg" href="/pune" role="button">Jobs In Pune</a>
              </div>
        </div>
        
    </body>
</html>