<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Venky's News Portal</title>
    <link rel="stylesheet" href="{%static "css/display.css" %}">
  </head>
  <body>

    <h1>Welcome To Movies Portal</h1>

    <h2>{{news2}}</h2>
    <ul>
      <li>RRR Postponed to April...Fans once again dissapointed with this news</li>
      <li>RamCharan ,Shankar movie on sets...</li>
      <li>Jr NTR ,Prasanth Neel Combination is under shooting...NTR Looks like never like before</li>
    </ul>

  </body>
</html>
