<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Venky's News Portal</title>
    <link rel="stylesheet" href="{%static "css/display.css" %}">
  </head>
  <body>

    <h1>Welcome To Political Portal</h1>
    <h2>{{news}}</h2>

    <ul>
      <li>Andhra Pradesh Governament borrowed 1lakh cr rupess</li>
      <li>Narendra modi Established Statue of Unity in Gujarat state</li>
      <li>Sonia Gandi ready to establish a new pary named GandhiCongress</li>
    </ul>

  </body>
</html>
