<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Venky's News Portal</title>
    <link rel="stylesheet" href="{%static "css/display.css" %}">
  </head>
  <body>

    <h1>Welcome To Sports Portal</h1>

    <h2>{{news1}}</h2>

    <ul>
      <li>Rahul Dravid is nominated as Indian Coach</li>
      <li>Rohit Sharma Replaced  VIrat Kohli's Captaincy</li>
      <li>MAhendra Singh Dhoni Started a Hen's form in Jarkand State</li>
    </ul>

  </body>
</html>
