{% extends 'store/main.html'%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css'%}">
{% block content %}
    <div class='row'>
        <div class='col-lg-6'>
            <div class='box-element' id='form-wrapper'>
                <form id='user-info'>
                    <div class='form-field'>
                        <input required class='form-control' type="text" name="name" placeholder="Enter your name" id="">
                    </div>
                    <div class='form-field'>
                        <input required class='form-control' type="email" name="email" placeholder="Email address" id="">
                    </div>
                </form>

                <form id='shipping-info'>
                    <hr>
                    <p>Shipping Information</p>
                    <div class='form-field'>
                        <input required class='form-control' type="text" name="Address" placeholder="Address" id="">
                    </div>
                    <div class='form-field'>
                        <input required class='form-control' type="text" name="City" placeholder="city" id="">
                    </div>
                    <div class='form-field'>
                        <input required class='form-control' type="text" name="state" placeholder="state" id="">
                    </div>
                    <div class='form-field'>
                        <input required class='form-control' type="text" name="Country" placeholder="country" id="">
                    </div>
                    <div class='form-field'>
                        <input required class='form-control' type="text" name="zipcode" placeholder="zipcode" id="">
                    </div>
                </form>

                <input id='form-button' class='btn btn-success btn-block' type="submit" value="continue">
            </div>
            <br>
                <div class='box-element hidden' id='payment-info'>
                    <small>Paypal options</small>
                </div>
        </div>   
                
        <div class='col-lg-6'>
            <div class='box-element'>
                <a class='btn btn-outline-dark add btn' href="{% url 'cart'%}">&#x2190; Back to Cart</a>
            </div>
            <hr>
            <h3>Order Summery </h3>
            <hr> 
            <div class='cart-row'>
                <div style="flex:2"><img class='row-image' src="{%static 'images/fixie2.jpg'%}" alt=""></div>
                <div style="flex: 1;">product 1</div>
                <div style="flex: 1;">$120</div>
                <div style="flex: 1;">x 2</div>
            </div> 
            <hr> 
            <h5>Items : 2</h5>    
            <h5>Total : $240</h5>    
        </div>

    </div>
         
       
       
{% endblock content %}        
        